.reglogo {
  display: flex;
  align-items: center;
}
.reglogo img {
  width: 40px;
  height: 50px;
  margin: 10px;
}
.reglogo a {
  color: gray;
  text-decoration: none;
  font-size: 26px;
  font-family: "Times New Roman", Times, serif;
}
.reglogo a:hover {
  color: lightgray;
}
form {
  margin: 100px auto;
  width: 380px;
  height: 500px;
  border: 1px solid gray;
  border-radius: 5px;
}
.form-control {
  width: 200px;
  display: inline-block;
}
label {
  width: 150px;
  font-weight: bold;
}
legend,
label {
  padding: 30px;
}
#submit {
  margin: 25px 15px;
  background-color: #17a2b8;
  border: #17a2b8;
  width: 350px;
  border-radius: 5px;
  padding: 10px 0;
  color: white;
}
legend {
  font-weight: bold;
}
