.nav-barnd img {
  width: 40px;
  height: 50px;
  margin-right: 10px;
}
.nav-barnd {
  text-decoration: none;
  color: gray;
  font-size: 26px;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-barnd:hover {
  text-decoration: none;
  color: lightgray;
  font-size: 26px;
  font-family: "Times New Roman", Times, serif;
}

/*.navbar{
   padding: 30px;
}*/

.navbar-nav li {
  padding-right: 30px;
}

.carousel {
  padding-top: 25px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.jumbotron p {
  text-align: justify;
}
.welcome summary {
  font-size: 18px;
  font-weight: bold;
}
.lead {
  margin: 10px 10px;
}
a {
  text-decoration: none;
  color: #212529;
}
.fixed-wrap {
  height: 100px;
  background-image: url("../img/dancer.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.padding {
  padding: 10px;
}
#Contact {
  background-color: lightgray;
  margin: 0 auto;
}
.rounded important {
  border-radius: 50%;
}
.fa {
  text-align: center;
  border: none;
  text-decoration: solid;
  display: inline-block;
  width: 16px;
}
footer {
  background: gray;
  color: honeydew;
}
#footerlogo {
  display: none;
}
p a:hover {
  box-shadow: 0 0 3px;
  text-decoration: none;
  color: #212529;
}
.card img {
  background-color: crimson;
  padding: 1px;
}
.card img:hover {
  opacity: 0.6;
}
#Conection {
  background-color: #222;
}
#Conection ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
#Conection li {
  color: white;
  list-style: none;
  padding-top: 10px;
}

.link li {
  list-style: none;
}
.link a {
  text-decoration: none;
  color: honeydew;
}
.link a:hover {
  color: white;
}
#about {
  padding: 0 10px;
  text-align: justify;
}
.group {
  border: 1px solid gray;
  text-align: center;
  position: relative;
}
#Sidtitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.popup {
  background-color: lightgrey;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.popup p {
  color: black;
}

.group img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hlink {
    font-size: 20px;
  }
  .link a {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  .fixed-wrap {
    height: 200px;
    background-position: top center;
  }
  .carousel {
    padding-top: 0;
  }
  #footerlogo {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  .link li {
    text-align: center;
  }
  .hlink {
    text-align: center;
  }

  .link a {
    font-size: 16px;
  }

  .popup {
    display: none;
  }
  .group a:hover .popup {
    display: block;
  }
  #sidebar h4 {
    margin-top: 38px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .link a {
    font-size: 16px;
  }
}
